body {
  margin: 0;
  font-family: "Mulish", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.custom-stepper {
  background: rgba(136, 136, 136, 0.1);
  border-radius: 42px;


  .MuiStepConnector-line {
    display: none;
  }

  .Mui-completed {
    background-color: #0052CC;

    &.custom-current-step {
      border-top-right-radius: 24px;
        border-bottom-right-radius: 24px;
    }

    &:first-of-type {
      border-top-left-radius: 24px;
      border-bottom-left-radius: 24px;
    }

    .MuiStepLabel-root {
      .MuiSvgIcon-root {
        color: #fff;
      }

      svg {
        border-radius: 0;
      }

      .MuiStepLabel-label {
        background-color: transparent;
        color: #0E1952 !important;
      }
    }  
  }

  .MuiStepLabel-root {
    position: relative;
    border-radius: 42px;
    padding: 12px 24px;
    // min-height: 32px;

    .MuiStepLabel-labelContainer {
      position: absolute;
      bottom: -24px;
    }
    
    .MuiStepLabel-label {
      font-weight: 600;
      font-size: 12px;
      line-height: 15px;
      color: #888888;

      &.Mui-active {
        background-color: transparent;
        color: #0E1952 !important;
      }  
    }
  }
}